<!doctype html>
<html>
	<head>
		<title>{{ 'Doencadefabry' }}</title>
		<link rel="stylesheetare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
		<link rel="stylesheet" href="{{ directory }}/css/pages.css">
		
	</head>
	<body>
		{# Include the header #}
		{% include '@fabry_theme/includes/header.html.twig' %}

		<section class="hero-overlay">
			<div class="hero-image">
				<div class="hero-text animate slide-up">
					<h1>{{ 'Diagnóstico: Doença de Fabry'|t }}</h1>
				</div>
			</div>
		</section>

		<section class="image-below-header">
			<img src="{{ directory }}/images/banner-aconselhamento-genetico-doenca-de-fabry.webp" alt="{{ 'Equipe médica'|t }}">
		</section>

		<section class="content-section">
			<div class="fabry-content animate fade-in">

				<div class="fabry-video-section">
					<div class="fabry-video-container">
						<picture class="vjs-poster" tabindex="-1"><img loading="lazy" alt="" src="https://cf-images.us-east-1.prod.boltdns.net/v1/static/3871979173001/fb5638df-73ee-47bc-a4ec-3104e68b66a9/831502c8-12ea-4e67-bcc1-f83185507990/1280x720/match/image.jpg"></picture>
						<div class="fabry-text">
							<h2>O que é Doença de Fabry?</h2>
							<p>
								Conheça as principais características da Doença de Fabry e entenda a importância do diagnóstico e tratamento precoces para a melhora da qualidade de vida dos pacientes.
							</p>
						</div>
					</div>
				</div>

			</div>
		</section>

		<section class="content-sub-section">

			<section class="fabry-tabs-section">
				<div class="tabs">
					<button class="tab-button active" data-tab="tab1">RECEBI O DIAGNÓSTICO, E AGORA?</button>
					<button class="tab-button" data-tab="tab2">COMO É FEITO O EXAME?</button>
					<button class="tab-button" data-tab="tab3">DIAGNÓSTICO E O ACOMPANHAMENTO</button>
				</div>

				<div class="fabry-text tab-content" id="tab1">
					<h2>Recebi o diagnóstico da Doença de Fabry, e agora?</h2>
					<p>
						Geralmente, quando é feito o diagnóstico da Doença de Fabry, o paciente já passou por várias consultas, de diferentes especialidades, porque os
						<span class="highlight">sintomas</span>
						que acontecem na infância e adolescência são pouco específicos (por exemplo: dor, formigamentos, intolerância ao calor).1,2</p>
					<p>
						Ao receber o diagnóstico, a primeira coisa a fazer é buscar auxílio profissional especializado.1,2</p>
					<p>
						A redução da atividade da α-Gal A, medida por exame laboratorial, com algum sinal ou sintoma sugestivo de Doença de Fabry (angioqueratoma, dor neuropática e córnea verticilata) e a confirmação de casos na família, geralmente, fecham o diagnóstico da DF clássica.2,3</p>
					<p>
						A investigação genética e a investigação do histórico familiar são fundamentais para o diagnóstico.1,4</p>
					<p>
						Após receber o diagnóstico do seu médico, você e sua família deverão ser acompanhados por uma equipe especializada. É essencial estabelecer uma relação de confiança com cada um dos profissionais para que eles possam entender suas necessidades.
					</p>
					<p>É essencial estabelecerem uma relação de confiança com cada um dos profissionais, para que eles possam entender suas dificuldades, realizar o acompanhamento correto e, se necessário, iniciar o tratamento da doença.5</p>
					<p>Acesse outros conteúdos na Revista Digital
						<span class="highlight">Vivendo com Fabry</span>, um espaço destinado à publicação de conteúdos relacionados ao tema. Veja como é feito o diagnóstico, tratamento, histórias reais, depoimentos médicos e muito mais.</p>
				</div>

				<div class="tab-content" id="tab2" style="display: none;">
					<h2>Como é feito o exame para a Doença de Fabry?</h2>
					<p>O diagnóstico da Doença de Fabry é fundamental para se iniciar o tratamento adequado e para identificar outros possíveis <span class="highlight">casos da família</span>. Atualmente, existem tratamentos específicos, que quando iniciados em tempo hábil, podem retardar lesões nos órgãos afetados pela doença, como os rins e o coração.1</p>
					<p>O diagnóstico é feito por meio de exames específicos e teste genético para identificar a variante do gene GLA associada à Doença de Fabry.1</p>
					<p>Uma vez feito o diagnóstico, é indicado o tratamento, o aconselhamento genético e o rastreamento familiar.1,2</p>
					<p>Acesse outros conteúdos na Revista Digital
						<span class="highlight">Vivendo com Fabry</span>, um espaço destinado à publicação de conteúdos relacionados ao tema. Veja como é feito o diagnóstico, tratamento, histórias reais, depoimentos médicos e muito mais.</p>
				</div>

				<div class="tab-content" id="tab3" style="display: none;">
					<h2>Importância do diagnóstico e acompanhamento</h2>
                    <p>A Doença de Fabry é progressiva, o que reduz a expectativa de vida. Entretanto, uma vez diagnosticada, existem tratamentos; por isso, é importante o acompanhamento multidisciplinar por profissionais de saúde quanto antes, pois o tratamento pode retardar a progressão da DF.1,2</p>
					<p>É comum a demora diagnóstica de mais de 10 anos, devido à pouca especificidade dos sintomas iniciais.1,2</p>
                    <p>Os dados indicam que a Doença de Fabry é subdiagnosticada em pacientes com Doença Renal Terminal, receptores de transplante renal e naqueles submetidos à hemodiálise.1,2</p>
                    <p>Além do comprometimento renal, a Doença de Fabry pode ter manifestações cardíacas e cerebrovasculares, algumas das quais são potencialmente fatais.1</p>
                    <p>É essencial que a Doença de Fabry seja diagnosticada quanto antes, a fim de se instituir o tratamento apropriado e oportuno.1,21,2</p>
					<p>Acesse outros conteúdos na Revista Digital Vivendo com Fabry, um espaço destinado à publicação de conteúdos relacionados ao tema. Veja como é feito o diagnóstico, tratamento, histórias reais, depoimentos médicos e muito mais.</p>
					
				<div>
			</section>

		</section>

		<button class="collapsible-btn" id="toggleBtn">
			Referências
			<i class="fa-solid fa-chevron-down arrow-btn" id="arrow-btn"></i>
		</button>

		<div class="collapsible-content animate slide-up" id="collapsibleContent">
			<ol>
				<li>Boggio P, Luna PC, Abad ME, Larralde M. Doença de Fabry. Anais Brasileiros de Dermatologia; 84: 367–76 (2009).</li>
				<li>Michaud M, Mauhin W, Belmatoug N, et al. When and How to Diagnose Fabry Disease in Clinical Practice. Am J Med Sci. DOI: 10.1016/j.amjms.2020.07.011 (2020).</li>
				<li>Basta M, Pandya AM. Genetics X-Linked Inheritance StatPearls Publishing; (2020). Disponível em: http://www.ncbi.nlm.nih.gov/pubmed/32491315 Acesso em; (08 mar.,2023)</li>
				<li>Bernardes TP, Foresto RD, Kirsztajn GM. Fabry disease: Genetics, pathology and treatment. Rev Assoc Med Bras; 66:s10–6 (2020).</li>
				<li>Ortiz A, Germain DP, Desnick RJ, et al. Fabry disease revisited: Management and treatment recommendations for adult patients. Molecular Genetics and Metabolism; 123:416–27 (2018).</li>
			</ol>
		</div>


		{% include '@fabry_theme/includes/footer.html.twig' %}</body>
		</html>
	</body>
</html>
